<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs') %>

<body>
  <!-- my flex start -->
  <%- include('./partials/nav.ejs') %>
<div class="home_slider" >
  <div style="max-width: 500px;text-align: center;">
    <h1 class="heading"><%=heading%></h1>
    <h4 class="home_para" style="margin-bottom: 34px;
    font-size: 18px;"><%=para%></h4>
    <a href="/about">
      <button type="button" class="btn btn-success" style=" padding: 1rem 2rem;"><%=button_head%></button>
    </a>
  </div>
</div>
</body>

</html>