<!DOCTYPE html>
<html>
<%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <h2 class="logins_slider_heading">Update Contact Lists</h2>
            <div class="logins_slider">
                <div class="forms_slider">
                    <form method="POST">
                        <input type="hidden" name="id" value="<%=findContact._id %>">
                        <div class="form-group">
                            <label for="exampleInputEmail1"> Name</label>
                            <input name="contactName" style="margin-bottom:10px" type="contactName" class="form-control"
                                id="exampleInputEmail1" aria-describedby="emailHelp"
                                value="<%=findContact.contactName %>" placeholder="Enter name">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Contact Number</label>
                            <input name="contactNumber" type="contactNumber" class="form-control"
                                id="exampleInputPassword1" value="<%=findContact.contactNumber %>"
                                placeholder="contact Number">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Email Address</label>
                            <input name="emailAddress" type="emailAddress" class="form-control"
                                id="exampleInputPassword1" value="<%=findContact.emailAddress %>" placeholder="Email">
                        </div>
                        <button id='form_button' type="submit" class="btn btn-primary">Update</button>

                    </form>
                    <a href="/bussiness">
                        <button id='form_button' type="submit" class="btn btn-warning">Cancel</button>

                    </a>
                    <a href="/deletecontacts/<%=findContact._id %>">
                        <button id='form_button' type="submit" class="btn btn-danger">Delete</button>
                    </a>

                </div>
            </div>

    </body>

</html>